{% extends "base.html" %}

{% block content %}
<h2>My Orders</h2>

{% if orders %}
    <table border="1" cellpadding="8">
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Status</th>
            <th>Total Paid</th>
            <th>Details</th>
        </tr>

        {% for order in orders %}
        <tr>
            <td>#{{ order.id }}</td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.total_after_discount }}</td>
            <td>
                <a href="{% url 'orders:detail' order.id %}">View</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>You have not placed any orders yet.</p>
{% endif %}

{% endblock %}
